.album {
	background: url("/SmileWebApp/imagenes/portal/fondo.png");
}

.album .row{
	margin-bottom: 0;
	padding-bottom: 20px;
}

.fotos img {
	width: 100%;
}

button {
	background: #3b85a1 !important;
}

.col.s12.title {
	padding: 30px 0;
}
.title span {
    color: #d9eb52;
    font-size: 2em;
    text-transform: uppercase;
}
.volver {
	margin-top: -55px;
}
.volver img{
	height:16px;
}

.col.s12.detalle, .col.s12.citas {
	padding: 15px;
}

.info {
    display: inline;
}

.info span {
    margin: 0 10px;
    color: #f26b7a;
    font-weight: bold;
}

.detalle>span {
	font-size: 7px;
    vertical-align: middle;
}

.citas span.fa {
	margin-left: 10px;
	font-size: 7px;
    vertical-align: text-top;
}

.detalle .info:nth-of-type(2n+1) span{
    color: #8AC7DE;
}

.album .descrip{
	margin: 18px 0;
	text-align: justify
}

.divTag {
	margin: 0 5px;
    background-color: #E5CCFF;
    border-radius: 20px;
    padding: 7px 16px;
    display: inline;
}

.comentarios h4 {
    background-color: #f26d7a;
    color: #ffffff;
	padding: 10px 10px;
	font-size: 1.4em;
	margin: 0 1.5rem;
}

.comentarios .row {
    margin: 0 1.5rem 20px;
    background: #f0f2dc;
    padding: 8px;
}

.comentarios .star-mail {
	padding-top: 10px;
}

.comentarios span.fa-star {
	color: yellow;
	text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}

.comentarios span.email {
	float: right;
	color: #3b85a1;
}

.comentarios button {
	float: right;
	margin: 0 1rem;
	margin-top: 18px;
}

/* estilos para el modal */

#modalFormComentarios .close {
	opacity: 1;
	text-align: right;
}
#modalFormComentarios .close span{
	font-size: 18px;
}

#modalFormComentarios h6{
	color: #f26b7a;
	font-weight: bold
}

#modalFormComentarios .form div:nth-of-type(4){
	margin-bottom: 10px;
}

span.stars, span.stars span {
    display: block;
    background: url(/SmileWebApp/imagenes/portal/icon/stars.png) 0 -16px repeat-x;
    width: 80px;
    height: 16px;
}

span.stars span {
    background-position: 0 0;
}
