.cinta {
	background-color: #F26B7A;
	height: 10px;
}

.calendario .titulo {
	text-transform: uppercase;
	color: #F26B7A;
	margin-bottom: 30px;
}

.cabecera {
	Background-color: #3B85A1;
	color: white;
	text-transform: uppercase;
}

.imagen {
	background-color: #F0F2DC;
}

.fc-content {
	background: #fff;
}

.fc-header-center {
	color: #fff;
}

.fc-button-next {
	background: transparent !important;
	float: right;
	color: #fff !important;
}

.fc-button-prev {
	background: transparent !important;
	float: left;
	color: #fff !important;
}

.fc-text-arrow {
	margin: 0;
	font-size: 24px;
	line-height: 18px;
}

.fc-day-header {
	text-transform: uppercase;
	font-size: 14px;
background: rgb(229, 234, 186);
    color: #89796f;
	border: none !important;
}

thead tr.fc-first {
	border: none !important;
}

table.fc-border-separate>thead>tr>th {
	font-size: 16px;
}

.info b {
	color: #f26b7a;
	font-weight: bold;
}

.volver {
	margin-top: 50px;
	float: left;
}

.volver img {
	height: 16px;
}