#modalFormComentario .close {
	opacity: 1;
	text-align: right;
}
#modalFormComentario .close span{
	font-size: 22px;
	color: black;
}

#modalFormComentario h6{
	color: #f26b7a;
	font-weight: bold
}

#modalFormComentario .form div:nth-of-type(4){
	margin-bottom: 10px;
}

#modalFormComentario input:focus{
	border-bottom: 1px solid #8AC7DE;
	box-shadow: 0 1px 0 0 #8AC7DE;
}

div.stars {
  width: 270px;
  display: inline-block;
}

div.stars span.star input { display: none; }

div.stars span.star label {
  float: right;
  padding: 10px;
  font-size: 36px;
  color: #444;
  transition: all .2s;
}

span.star {
	color: red;
}

div.stars span.star input:checked ~ span.star label:before {
  content: '\f005';
  color: #FD4;
  transition: all .25s;
}

div.stars span.star label:before {
  content: '\f006';
  font-family: FontAwesome;
}
