/* encabezado de la organizacion */

.titulo-organizacion{
	text-align: center;
	width: 100%;
	height: 54px;
	background-color: #d9eb52;
	margin-top: -12px;
}

.texto-titulo-org{
	padding-top: 14px;
	color: #ffffff;
	font-family: Roboto,sans-serif !important;
    font-weight: bold;
}

/* contenido de la organizacion */

.cont-org{
	width: 100%;
	background-color: #F0F2DC;
}

.text-cont-org{
	padding-top: 18px; 
	color: #87796F; 
	font-weight: bold; 
	text-transform: uppercase;
	text-align: center;
}

.tam-cont-org{
	width: 70%;
	margin-bottom: 0px;
}

.img-cont-org{
	height: 140px;
}

.text-other{
	color: #F2707D; 
	font-weight: bold;
	font-size: 25px;
}

.text-justificado{
	text-align: justify;
}

/* encabezado de valores */

.titulo-valores{
	text-align: center;
	width: 100%;
	height: 54px;
	background-color: #8AC7DE;
	margin-top: -12px;
	margin-bottom: 15px;
}

.texto-titulo-val{
	padding-top: 14px;
	color:  #ffffff;
	font-family: Roboto,sans-serif !important;
    font-weight: bold;
}

/* contenido de valores */

.borde-blanco{
	border-color: #ffffff;
	/*padding-left: 50px;*/
	align: center;
}
.centrada{
	/*align: center;*/
	/*display: block;*/
    margin: auto;
}

/*.center {
    margin: auto;
    width: 50%;
    border: 3px solid green;
    padding: 10px;
    padding: 25px 120px 25px 10px;
	margin: 5px;
}*/

.texto-valores{
	padding-top: 18px; 
	color: #87796F;
	text-align: center;
	/*padding-left: 13px;*/
}

/* encabezado de estadisticas */

.titulo-estadistica{
	text-align: center;
	width: 100%;
	height: 54px;
	background-color: #87796F !important;
	margin-top: -12px;
	margin-bottom: 15px;
	margin-left: -30px;
}

.texto-titulo-esta{
	padding-top: 14px;
	color: #F0F2D6;
	font-family: Roboto,sans-serif !important;
    font-weight: bold;
}

/* contenido de estadisticas */

.circulo {
  display: block;
  width: 150px;
  height: 150px;
  margin: 1em auto;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  -webkit-border-radius: 99em;
  -moz-border-radius: 99em;
  border-radius: 99em;
  border: 5px solid #87796F;
  box-shadow: 0 3px 2px rgba(0, 0, 0, 0.3);  
}

.text-cont-esta{
	padding-top: 7px; 
	color: #87796F;	
}

/* encabezado de descargables */

.titulo-descargable{
	text-align: center;
	width: 100%;
	height: 54px;
	background-color: #594E46 !important;
	margin-top: -12px;
	margin-bottom: 15px;
}

.texto-titulo-desca{
	padding-top: 14px;
	color: #F0F2D6;
	font-family: Roboto,sans-serif !important;
    font-weight: bold;
}

/* contenido de descargables */

.text-descargas{
	text-align: justify; 
	margin-left: 2px; 
	margin-right: 20px;
	padding-bottom: 31px;
}

.ima-tam{
	width: 11%; 
	height: 11%;
}

.margen-descar{
	margin-right: 20px;
}

.color-boton{
	background-color: #3B85A1 !important;
}

.color-fondo{
	background-color: #F0F2DC;
}


.borde-beich{
	border-color: #F0F2DC;
}

/*Otros estilos*/

.justificar-label{
	text-align: justify;
}

.row.margen-inferior {
	margin-bottom: 0px;
}

/*Menu flotante*/

.social .icon span {
		display: none;
	}
	
	.social .icon:hover span {
		display: initial;
		margin-left: 5px;
		text-transform: uppercase;
	}
	
	.social {
		position: fixed; /* Hacemos que la posición en
			pantalla sea fija para que siempre se muestre en pantalla*/
		left: 0; /* Establecemos la barra en la izquierda */
		top: 200px;
		/* Bajamos la barra 200px de arriba a abajo */
		z-index: 2000; /*
			Utilizamos la propiedad z-index para que no se superponga algún
			otro elemento como sliders, galerías, etc */
	}
	
	.social div>div {
		margin-bottom: 1px;
	}
	
	.social div a {
		display: inline-block;
		color: #fff;
		background: #000;
		padding: 8px 12px;
		text-decoration: none;
		-webkit-transition: all 500ms ease;
		-o-transition: all 500ms ease;
		transition: all 500ms ease; /* Establecemos una transición a
			todas las propiedades */
	}
	
	.social div .icon {
		width: 44px;
		background: #87796F;
	}
	
	.social div .icon i {
		color: #DB6E78;
		font-size: 20px;
	}
	
	.social div a:hover {
		width: auto;
		background: rgba(135, 121, 111, 0.84);
		/* Cambiamos el fondo cuando el usuario pase el mouse */
		padding: 10px 30px; /* Hacemos mas grande el espacio cuando el
			usuario pase el mouse */
	}
	
/*  Estilos Slider*/
	.owlNoticias .owl-theme .owl-controls .owl-buttons div {
	position: absolute;
}

.owlNoticias.owl-theme .owl-controls .owl-buttons .owl-prev {
	left: -50px;
	top: 60px;
	position: absolute;
}

.owlNoticias.owl-theme .owl-controls .owl-buttons .owl-next {
	right: 50px;
	top: 60px;
	position: absolute;
}

.owlNoticias.owl-carousel {
	display: none;
	position: relative;
	-ms-touch-action: pan-y;
	margin-left: 4%; /*nuevo*/
}


.owlNoticias .owl-theme .owl-controls .owl-buttons div {
	padding: 5px 40px;
}

.owlNoticias .owl-theme .owl-buttons span {
	margin-top: 2px;
}

.owlNoticias .item {
	padding: 25px 62px 25px 10px;
	margin: 5px;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	text-align: center;
}