.eventos {
	background-image: url("/SmileWebApp/imagenes/portal/fondo.png");
}

.cinta {
	background-color: #8AC7DE;
	height: 40px;
	margin-bottom: 25px;
}

.tituloCinta {
	text-transform: uppercase;
	color: #fff;
	font-size: 16px;
}

.titulo {
	color: #F26B7A;
	font-size: 18px;
	margin-bottom: 10px;
}


.tituloEvento{
	color: #383330;
	 font-family: 'Open Sans';
    font-size: 15px;
    font-weight: bold;
}
.view {
    width: 100%;
    height: 100%;
    float: left;
    overflow: hidden;
    position: relative;
/*     text-align: center; */
    box-shadow: 1px 1px 2px #e6e6e6;
    cursor: default;
}
.card .card-content .card-title {
    line-height: 27px;
}

.view .mask, .view .content {
    width: 100%;
    height: 200px;
    position: absolute;
    overflow: hidden;
    top: 0;
    left: 0;
}

.view img {
    display: block;
    position: relative;
}

.view h2 {
    text-transform: uppercase;
    color: #F26B7A;
	font-size: 18px;
    text-align: left;
    padding: 0;
/*     position: relative; */
    background: hsla(0,0%,0%,0.8);
/*     margin: 5px 0 0 0; */
	line-height: 60%;
}

.abc {
	margin-bottom: 0;
}

.card-reveal p {
	margin-top: 30px;
	text-align: justify;
	font-size: 14px;
}
.view p {
    font-size: 14px;
    position: relative;
    color: #fff;
    padding: 10px 20px;
    text-align: justify;
    margin: 0;
}

.view a.info {
    display: inline-block;
    text-decoration: none;
    padding: 0 14px;
/*     background: #F26B7A; */
    color: #fff;
    text-transform: uppercase;
}

.view img {
    -webkit-transition: all 0.2s ease-in;
    -moz-transition: all 0.2s ease-in;
    -o-transition: all 0.2s ease-in;
    -ms-transition: all 0.2s ease-in;
    transition: all 0.2s ease-in;
}

.view .mask {
    opacity: 0;
    width: 300px;
    padding: 0;
    height: 300px;
    background-color: rgba(135,121,111,0.8);
/*     background-color: hsla(213,33%,59%,0.7); */
    -webkit-transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;
    -ms-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
    -webkit-transform: translate(265px, 145px) rotate(45deg);
    -moz-transform: translate(265px, 145px) rotate(45deg);
    -o-transform: translate(265px, 145px) rotate(45deg);
    -ms-transform: translate(265px, 145px) rotate(45deg);
    transform: translate(265px, 145px) rotate(45deg);
}

.view h2 {
/*     border-bottom: 1px solid rgba(0, 0, 0, 0.3); */
    background: transparent;
    margin: 20px 40px 0px 40px;
    -webkit-transform: translate(200px, -200px);
    -moz-transform: translate(200px, -200px);
    -o-transform: translate(200px, -200px);
    -ms-transform: translate(200px, -200px);
    transform: translate(200px, -200px);
    -webkit-transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;
    -ms-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
    margin: 15px 40px 0px 20px;
}

.view p { 
    -webkit-transform: translate(-200px, 200px);
    -moz-transform: translate(-200px, 200px);
    -o-transform: translate(-200px, 200px);
    -ms-transform: translate(-200px, 200px);
    transform: translate(-200px, 200px);
    -webkit-transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;
    -ms-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
    margin-top: 10px;
}

.view a.info {
    -webkit-transform: translate(0px, 100px);
    -moz-transform: translate(0px, 100px);
    -o-transform: translate(0px, 100px);
    -ms-transform: translate(0px, 100px);
    transform: translate(0px, 100px);
    -webkit-transition: all 0.2s 0.1s ease-in-out;
    -moz-transition: all 0.2s 0.1s ease-in-out;
    -o-transition: all 0.2s 0.1s ease-in-out;
    -ms-transition: all 0.2s 0.1s ease-in-out;
    transition: all 0.2s 0.1s ease-in-out;
}

.card.small:hover .mask { 
    opacity: 1;
    -webkit-transform: translate(0px, -100px) ;
    -moz-transform: translate(0px, -100px) ;
    -o-transform: translate(0px, -100px) ;
    -ms-transform: translate(0px, -100px) ;
    transform: translate(0px, -100px) ;
}

.card.small:hover h2 { 
    -webkit-transform: translate(0px,0px);
    -moz-transform: translate(0px,0px);
    -o-transform: translate(0px,0px);
    -ms-transform: translate(0px,0px);
    transform: translate(0px,0px);
    -webkit-transition-delay: 0.3s;
    -moz-transition-delay: 0.3s;
    -o-transition-delay: 0.3s;
    -ms-transition-delay: 0.3s;
    transition-delay: 0.3s;
}

.card.small:hover p {
    -webkit-transform: translate(0px,0px);
    -moz-transform: translate(0px,0px);
    -o-transform: translate(0px,0px);
    -ms-transform: translate(0px,0px);
    transform: translate(0px,0px); 
    -webkit-transition-delay: 0.4s;
    -moz-transition-delay: 0.4s;
    -o-transition-delay: 0.4s;
    -ms-transition-delay: 0.4s;
    transition-delay: 0.4s;
}

.card.small:hover a.info {
    -webkit-transform: translate(0px,0px);
    -moz-transform: translate(0px,0px);
    -o-transform: translate(0px,0px);
    -ms-transform: translate(0px,0px);
    transform: translate(0px,0px); 
    -webkit-transition-delay: 0.5s;
    -moz-transition-delay: 0.5s;
    -o-transition-delay: 0.5s;
    -ms-transition-delay: 0.5s;
    transition-delay: 0.5s;
}