footer {
	background: #8ac7de;
	color: #87796f;
}

footer .container {
	width: 75%;
}

.footer_a h5 {
	font-size: 1.2em;
	font-weight: bold;
	text-align: center;
    border-bottom: 1px solid #87796f
}
	
.footer_a div:nth-of-type(1) ul>li {
	list-style-type: square;
	padding: 0;
}

.footer_a div:nth-of-type(1) li {
	padding: 10px 0;
	list-style-position:inside;
	font-size: 23px;
}

.footer_a div:nth-of-type(1) li span{
	font-size: .8em;
	color: #ffffff;
}

.footer_a div:nth-of-type(2) img.redes {
	width: 50px;
	margin-top: 20px;
}
	
.footer_a div:nth-of-type(3) img {
	width: 20px;
}

.footer_a div:nth-of-type(3) p{
	height: 25px;
	color: #ffffff;
	list-style-position:inside;
}

footer .footer_b {
	background: #89a8b2;
	color: #ffffff;
}

footer .footer_b .row {
	margin-bottom: 0;
}