.galeria h4 {
    background-color: #d9eb52;
    color: #a0958e;
	margin: 0;
	padding: 15px 0;
	font-size: 1.5em;
	font-weight: bold;
	text-align: center;
	text-transform: uppercase;	
}
#albumes .albumes .s4:nth-child(3n+1), #fotos .fotos .s4:nth-child(3n+1) {
   	clear: left;
}

.fotos .info {
	background: rgba(138, 199, 222, 0.27);
}

#fotos .seccion {
	padding: 20px 0;
	background: url("/SmileWebApp/imagenes/portal/fondo-body2.png");
}

#albumes .seccion {
	padding: 20px 0;
	background: #f0f2dc;
}

#fotos .fotos>.col.s4 {
	padding-bottom: 18px;
}

#albumes .albumes>.col.s4 .s12{
	margin-top: 20px;
	padding: 0;
}

#albumes .albumes .col.s4{
    text-align: justify;
    margin-bottom: 60px;
    float: left;
}

.box-img-album {
	height: 200px
}

#albumes .seccion .albumes img {
    max-height: 180px;
	margin-bottom: 20px;
}

	
.subtitulo span{
	font-size: 1em;
	font-weight: bold;
}

.seccion .row {
	margin-bottom: 0;
	width: 75%;
}

.seccion .fotos, .seccion .icon, .seccion .album {
	text-align: center;
}

.galeria #fotos .seccion img {
	height: 100%;
	width: 100%;
	margin-bottom: 20px;
}
    
.galeria #fotos .seccion .icon img, .galeria #albumes .seccion .icon img {
	height: initial;
	width: initial;
	margin-bottom: 30px;
}

.galeria #albumes .seccion .icon img {
	margin-top: 30px;
}

.galeria .seccion .icon a {
	font-size: 1.2em;
	font-weight: bold;
    color: #a0958e;
}

.subtitulo {
	padding-top: 6px;
	font-size: 1.3em;
	font-weight: bold;
	color: #ffffff;
	background:#8ac7de;
	height: 36px;
}

.galeria .seccion .albumes .link {
    text-align: initial;
}
.galeria .seccion .albumes .link a {
	font-size: 1.3em;
}


/* Menu flotante */

	.social .icon span {
		display: none;
	}
	
	.social .icon:hover span {
		display: initial;
		margin-left: 5px;
		text-transform: uppercase;
	}
	
	.social {
		position: fixed; /* Hacemos que la posición en
			pantalla sea fija para que siempre se muestre en pantalla*/
		left: 0; /* Establecemos la barra en la izquierda */
		top: 200px;
		/* Bajamos la barra 200px de arriba a abajo */
		z-index: 2000; /*
			Utilizamos la propiedad z-index para que no se superponga algún
			otro elemento como sliders, galerías, etc */
	}
	
	.social div>div {
		margin-bottom: 1px;
	}
	
	.social div a {
		display: inline-block;
		color: #fff;
		background: #000;
		padding: 8px 12px;
		text-decoration: none;
		-webkit-transition: all 500ms ease;
		-o-transition: all 500ms ease;
		transition: all 500ms ease; /* Establecemos una transición a
			todas las propiedades */
	}
	
	.social div .icon {
		width: 44px;
		background: #87796F;
	}
	
	.social div .icon i {
		color: #DB6E78;
		font-size: 20px;
	}
	
	.social div a:hover {
		width: auto;
		background: rgba(135, 121, 111, 0.84);
		/* Cambiamos el fondo cuando el usuario pase el mouse */
		padding: 10px 30px; /* Hacemos mas grande el espacio cuando el
			usuario pase el mouse */
	}

    