.hlayautPortal>.z-hlayout-inner {
	margin-right: 20px !important;
}

.divNavbar i {
	height: 89px;
	background-color: #87796F;
	width: 70px;
	padding-left: 25px;
	padding-top: 30px;
	color: #fff;
}

.navbar {
	height: 89px;
	background-color: #fff !important;
	border-bottom: 0.5px solid #87796F !important;
	min-height: 90px !important;
	padding: 0;
	width: 100%;
}

.navbar img {
	max-width: 214px;
	max-height: 210px;
	padding-left: 30px;
}

.rosadoFanca,.rosadoFanca:hover,.rosadoFanca:active,.rosadoFanca:visited,.rosadoFanca:link
	{
	color: #f26b7a;
}

.verdeFanca,.verdeFanca:hover,.verdeFanca:active,.verdeFanca:visited,.verdeFanca:link
	{
	color: #d9eb52;
}

.grisFanca,.grisFanca:hover,.grisFanca:active,.grisFanca:visited,.grisFanca:link
	{
	color: #87796F;;
}

.azulFanca,.azulFanca:hover,.azulFanca:active,.azulFanca:visited,.azulFanca:link
	{
	color: #8AC7DE;
}

.rosadoFanca::before {
	background: #f26b7a;
}

.verdeFanca::before {
	background: #d9eb52;
}

.grisFanca::before {
	background: #87796F;;
}

.azulFanca:before {
	background: #8AC7DE;
}

/* Underline From Center */
.hvr-underline-from-center {
	display: inline-block;
	vertical-align: middle;
	-webkit-transform: translateZ(0);
	transform: translateZ(0);
	box-shadow: 0 0 1px rgba(0, 0, 0, 0);
	-webkit-backface-visibility: hidden;
	backface-visibility: hidden;
	-moz-osx-font-smoothing: grayscale;
	position: relative;
	overflow: hidden;
}

.hvr-underline-from-center:before {
	content: "";
	position: absolute;
	z-index: -1;
	left: 50%;
	right: 50%;
	bottom: 0;
	height: 4px;
	-webkit-transition-property: left, right;
	transition-property: left, right;
	-webkit-transition-duration: 0.3s;
	transition-duration: 0.3s;
	-webkit-transition-timing-function: ease-out;
	transition-timing-function: ease-out;
}

.hvr-underline-from-center:hover:before,.hvr-underline-from-center:focus:before,.hvr-underline-from-center:active:before
	{
	left: 0;
	right: 0;
}

.labelNavbar {
	font-size: 18px;
	font-weight: bold;
	margin-top: 20px;
}

.menu.z-popup .z-popup-content .z-vlayout-inner:last-child>.z-a,.menu.z-popup .z-popup-content .z-vlayout-inner .z-a
	{
	display: block;
	padding: 10px 2px;
	color: #f26b7a;
	border-bottom: 1px solid #E4E6E9;
	text-align: left;
}

.menu.z-popup .z-popup-content .z-vlayout-inner:last-child>.z-a:hover {
	text-decoration: none;
}

.menu.z-popup .z-popup-content .z-vlayout-inner:hover {
	background-color: #E4E6E9;
	color: #555;
}

.z-popup,.z-menupopup {
	top: 90px !important;
}

.z-popup:before,.z-menupopup:before {
	border-bottom: 7px solid rgba(0, 0, 0, 0.2);
	border-left: 7px solid transparent;
	border-right: 7px solid transparent;
	content: initial;
	display: inline-block;
	right: 9px;
	position: absolute;
	top: -7px;
}

.z-popup:after,.z-menupopup:after {
	border-bottom: 6px solid #FFFFFF;
	border-left: 6px solid transparent;
	border-right: 6px solid transparent;
	content: initial;
	display: inline-block;
	right: 10px;
	position: absolute;
	top: -6px;
}

.menu.z-popup .z-popup-content .z-vlayout-inner .z-a .z-label {
	font-size: 14px;
	line-height: 16px;
	height: 16px;
}

.menu.z-popup .z-popup-content .z-vlayout-inner .z-a i {
	font-size: 14px;
	line-height: 16px;
	height: 16px;
}

.menuPop {
	top: 90px !important;
}

.menuOpenTop {
	top: 426px !important
}


.z-popup {
    border: 0.2px solid rgba(207, 207, 207, 0.46) !important;
}