#modalFormPostulacion .close {
	opacity: 1;
	text-align: right;
}

#modalFormPostulacion .close span {
	font-size: 22px;
	color: black;
}

#modalFormPostulacion h5 {
	color: #f26b7a;
	font-weight: bold
}

#modalFormPostulacion input:focus {
	border-bottom: 1px solid #8AC7DE;
	box-shadow: 0 1px 0 0 #8AC7DE;
}

textarea.materialize-textarea {
	max-height: 100px !important;
}

textarea.materialize-textarea:hover,textarea.materialize-textarea:active,textarea.materialize-textarea:focus
	{
	overflow-y: auto !important;
}