.eventos h4 {
	background-color: #d9eb52;
	color: #a0958e;
	margin: 0;
	padding: 15px 0;
}

.eventos .seccion {
	padding-top: 20px;
}

.subtitulo {
	font-size: 1.3em;
	font-weight: bold;
	color: #8ac7de;
	text-transform: uppercase;
}

.info {
    padding: 0 15px;
    height: 130px;
}

.info b {
	color: #f26b7a;
	font-weight: bold;
}