.container {
	font-family: 'Roboto', sans-serif;
	font-size: 14px;
}

.cabecera {
	background-color: #d9eb52;
	color: #a0958e;
	height: 45px;
	margin-bottom: 15px;
	padding-top: 8px;
}

.titulo, .subtitulo {
	font-weight: bold;
	text-transform: uppercase;
}

.titulo {
	font-size: 18px;
}

.subtitulo {
	color: #8ac7de;
}

.info b {
	color: #f26b7a;
	font-weight: bold;
}

.boton {
	margin-top: 20px;
}