.galeria h4 {
    background-color: #d9eb52;
    color: #a0958e;
	margin: 0;
	padding: 15px 0;
	font-size: 1.5em;
	font-weight: bold;
	text-align: center;
	text-transform: uppercase;	
}

#fotos .seccion {
	padding: 20px 0;
	background: url("/SmileWebApp/imagenes/portal/fondo-body2.png") no-repeat;
}

#albumes .seccion {
	padding: 20px 0;
	background: #f0f2dc;
}

#fotos .fotos>.col.s4 {
	padding-bottom: 18px;
}

#albumes .albumes>.col.s4 .s12{
	margin-top: 20px;
	padding: 0;
}

#albumes .albumes>.col.s4{
    margin-bottom: 60px;
}

#albumes .albumes>.col.s4{
    text-align: justify;
}

#albumes .albumes>.col.s4.icon{
    text-align:center
}

	
.subtitulo span{
	font-size: 1em;
	font-weight: bold;
}




.seccion .row {
	margin-bottom: 0;
}

.seccion .fotos, .seccion .albumes {
	text-align: center;
	width: 75%;
}

.galeria .seccion img {
	height: 100%;
	width: 100%;
	margin-bottom: 20px;
}
    
.galeria .seccion .icon img {
	height: initial;
	width: initial;
	margin-bottom: 30px;
}

.galeria .seccion .icon a {
	font-size: 1.2em;
	font-weight: bold;
    color: #a0958e;
}

.subtitulo {
	padding-top: 6px;
	font-size: 1.3em;
	font-weight: bold;
	color: #ffffff;
	background:#8ac7de;
	height: 36px;
}

.galeria .seccion .albumes .link {
    text-align: initial;
}
.galeria .seccion .albumes .link a {
	font-size: 1.3em;
}

    