.galeria .row {
	margin-bottom: 0;	
}

.galeria h4 {
	background: #87796f;
	color: #ffffff;
	margin: 0;
	padding: 15px 0;
}

.galeria .seccion {
	background: url("../../../imagenes/portal/fondo-body2.png") no-repeat;
	height: 450px;
	padding: 30px;
}

.seccion .fotos {
	text-align: center;
	width: 80%;
}

.galeria .seccion img {
	margin-top: 30px;
	height: 120px;
	width: 300px;
	border: 4px solid #87796f
}