
.titulo
{
	font-size: 35px;
	color: #60a8c3;
}


.marcoNoticia
{
	background-color: #f0f2dc;
	margin-top: 35px;
}

body
{
	background-color: #fbfcf4;
}

.imgNoticia
{
	padding-top:10px;
}

.tituloNoticia
{
	
	font-size: 18px;
	color: #f26b7a;
}

.fechaNoticia
{
	color: #60a8c3;
	font-size: 15px;
	font-family: 'Roboto-Bold';
}

.divTag
{
	background-color: #E5CCFF;
	border-radius: 20px;
	width: 30%;
	height: 10%;
	padding: 5px;
	margin-left: 70%;	
	margin-bottom: 25px;
}

.marcoFooter
{
	background-color: #8ac7de;
	height: 30%;
}

