.hlayautPortal>.z-hlayout-inner {
	padding-right: 40px !important;
}

.divNavar i {
	height: 89px;
	background-color: #87796F;
	width: 70px;
	padding-left: 25px;
	padding-top: 30px;
	color: #fefefe;
}

.a1 {
	color: #f26b7a;
	font-size: 18px;
	font-weight: bold;
}

.a2 {
	color: #d9eb52;
	font-size: 18px;
	font-weight: bold;
}

.a3 {
	color: #87796F;;
	font-size: 18px;
	font-weight: bold;
}

.a4 {
	color: #8AC7DE;
	font-size: 18px;
	font-weight: bold;
}

